body {
    font-family:Arial;
    background-color:White;
    color:Black;
}
hr {
    color:Black;
    background-color:Black;
    height:1px;
    border:0;
}
h1 {
    margin-bottom:0px;
    padding-bottom:0px;
    font-size:1.625em;
}
h2 {
    margin-bottom:0px;
    padding-bottom:0px;
    font-size:1.25em;
}
span.int {
    font-weight:bold;
    cursor:pointer;
    margin-left:7px;
    font-family:Arial;
    color:#003E69;
}
span.sym_p {
    font-weight:normal;
}
span:hover.int {
    color:#336699;
}
span.header {
    color:#cc3300;
    font-size:0.875em;
    font-weight:bold;
}
span.ns {
    color:#408080;
    font-size:0.94em;
}
span.lib_name {
    color:Green;
    font-size:0.875em;
    font-weight:bold;
}
span.libgroup {
    color:Black;
    font-size:0.875em;
    font-family:Arial;
    font-weight:bold;
}
span.nowrap {
    white-space:nowrap;
}
span.attr {
    color:#333333;
    font-weight:100;
}
span.color_p {
    font-style:italic;
    color:Brown;
}
span.param {
    font-style:italic;
}
span.focus_p {
    font-style:italic;
    color:Red;
}
a.link {
    text-decoration:none;
}
.footer {
    font-size:0.75em;
}